#addPart3{
    position: absolute;
    width: $NomalWidth;
    height: $NomalWidth;
    left: $NomalWidth;
    padding: 100px 150px 50px 50px;
    overflow: auto;
    #screenPlan{
        width: $NomalWidth/10*8;
        height: auto;
        padding-top: 20px;
        border-top: 1px solid nth($NomalColor,4);
        position: relative;
        ul{
            width: $NomalWidth;
            height: 300px;
            position: absolute;
            list-style: none;
            background: nth($NomalColor,5);
            top: 0;
            left: 0;
            li{
                width: $NomalWidth/4;
                border: 1px solid nth($NomalColor,3);
                box-sizing: border-box;
                float: left;
                height: 150px;
                text-align: center;
                img{
                    height: 50%;
                    margin-top: 38px;
                }
                p{
                    width: 100%;
                    text-align: center;
                    font-size: nth($FontSize,7);
                    color: nth($FontColor,4);
                }
                span{
                    display: none;
                }
            }
            .selected{
                border:1px solid nth($FontColor,4);
                p{
                    color: nth($FontColor,4);
                }
            }
        }
        #drawArea{  
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            #drawBox{
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid nth($LightColor,1);
                background: rgba(234,85,20,0.5);
            }
        }
    }
    #entrySlected{
        width: 170px;
        height: auto;
        position: absolute;
        background: nth($NomalColor,4);
        padding-bottom: 5px;
        display: none;
        ul{
            width: 170px;
            float: left;
            li{
                list-style: none;
                width: 50px;
                margin-left: 5px;
                margin-top: 5px;
                height: 70px;
                float: left;
                p{
                    font-size: nth($FontSize,8);
                    color: nth($FontColor,4);
                    width: 100%;
                    text-align: center;
                }
                span{
                    display: none;
                }
                img{
                    width: 50px;
                }
            }
            .selected{
                img{
                    border-width: 2px !important;
                }
            }
        }
    }
    #entryList{
        width: $NomalWidth/10*8;
        height: auto;
        position: relative;
        top: 300px;
        li{
            float: left;
            width: 110px;
            height: 140px;
            list-style: none;
            img{
                width: 100px;
                float: left;
                margin: 5px;
            }
            p{
                width: 110px;
                text-align: center;
                font-size: nth($FontSize,6);
                color: nth($FontColor,2);
                border-radius:4px;
            }
            span{
                display: none;
            }
        }
    }
    #btnPart3{
        width: $NomalWidth/2;
        left: $NomalWidth/10*3;
        height: 25px;
        position: absolute;
        bottom: 70px;
        div{
            height: 25px;
            line-height: 25px;
            width: 100px;
            text-align: center;
            background: nth($NomalColor,5);
            font-size: nth($FontSize,6);
            border: 1px solid nth($NomalColor,7);
            cursor: pointer;
            float: left;
        }
    }
}