#addPart3{
    position: absolute;
    width: $NomalWidth;
    height: $NomalWidth;
    left: $NomalWidth;
    padding: 100px 150px 50px 50px;
    overflow: auto;
    #screenPlan{
        width: $NomalWidth/10*8;
        height: auto;
        padding-top: 20px;
        border-top: 1px solid nth($NomalColor,4);
        position: relative;
        ul{
            width: $NomalWidth;
            height: 300px;
            position: absolute;
            list-style: none;
            background: nth($NomalColor,5);
            top: 0;
            left: 0;
            li{
                width: $NomalWidth/4;
                border: 1px solid nth($NomalColor,3);
                box-sizing: border-box;
                float: left;
                height: 150px;
                text-align: center;
                img{
                    height: 50%;
                    margin-top: 38px;
                }
                p{
                    width: 100%;
                    text-align: center;
                    font-size: nth($FontSize,7);
                    color: nth($FontColor,4);
                }
            }
            .selected{
                border:1px solid nth($FontColor,4);
                p{
                    color: nth($FontColor,4);
                }
            }
        }
        #drawArea{  
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            #drawBox{
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid nth($LightColor,1);
                background: rgba(234,85,20,0.5);
            }
        }
    }
    #entrySlected{
        width: 170px;
        height: auto;
        position: absolute;
        background: nth($NomalColor,4);
        padding-bottom: 5px;
        display: none;
        ul{
            width: 170px;
            float: left;
            li{
                list-style: none;
                width: 50px;
                margin-left: 5px;
                margin-top: 5px;
                height: 70px;
                float: left;
                p{
                    font-size: nth($FontSize,8);
                    color: nth($FontColor,4);
                    width: 100%;
                    text-align: center;
                }
                img{
                    width: 50px;
                }
            }
            .selected{
                img{
                    border-width: 2px !important;
                }
            }
        }
    }
}