#addPart1{
    position: absolute;
    width: $NomalWidth;
    height: $NomalWidth;
    padding: 100px 150px 50px 50px;
    overflow: auto;
    #inputGroup{
        width: $NomalWidth/2;
        height: 170px;
        .input{
            width: $NomalWidth/2-5%;
            height: 30px;
            line-height: 30px;
            float: left;
            position: relative;
            background: nth($NomalColor,7);
            border: 1px solid nth($NomalColor,5);
            border-radius: 5px;
            overflow: hidden;
            margin-top: 20px;
            margin-right: 5%;
            &:first-child{
              width: $NomalWidth;  
            }
            p{
                width: 75px; 
                display: block;
                line-height: 26px;
                height: 26px;
                text-align: center;
                background: nth($NomalColor,5);
                font-size: nth($FontSize,8);
                color: nth($FontColor,2);
                z-index: 100;
                top: 1px;
                left: 1px;
                position: absolute;
                border-right: 1px solid nth($NomalColor,7);
            }
            input{
                position: absolute;
                left: 0;
                top: 1px;
                width: $NomalWidth;
                padding-left: 80px;
                height: 26px;
                background: nth($NomalColor,6); 
                font-size: nth($FontSize,8);
            }
        }
    }
    #screenShow{
        width: $NomalWidth/10*8;
        height: auto;
        padding-top: 20px;
        border-top: 1px solid nth($NomalColor,4);
        position: relative;
        ul{
            width: $NomalWidth;
            height: auto;
            float: left;
            list-style: none;
            background: nth($NomalColor,5);
            li{
                width: $NomalWidth/4;
                border: 1px solid nth($NomalColor,3);
                box-sizing: border-box;
                float: left;
                text-align: center;
            }
        }
        h1{
            line-height: 300px;
            width: $NomalWidth;
            font-size: nth($FontSize,4);
            text-align: center;
            height: 300px;
            position: absolute;
            top: 20px;
            cursor: pointer;
        }
    }
    #btnPart1{
        width: $NomalWidth/2;
        left: $NomalWidth/5*2;
        height: 25px;
        position: absolute;
        bottom: 70px;
        div{
            height: 25px;
            line-height: 25px;
            width: 100px;
            text-align: center;
            background: nth($NomalColor,5);
            font-size: nth($FontSize,6);
            border: 1px solid nth($NomalColor,7);
            cursor: pointer;
            float: left;
        }
    }
}
